body{
    
}
.controls button{
    background-color: #e2e8f0;
    border: none;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.2s;
    cursor: pointer;
    font-family: unbounded;

}
.controls button:hover{
    background-color: #94a3b8;
}
.controls button:not(:last-child){
    margin-bottom: 10px;
}
.controls button:last-child{
    background-color: #bae6fd;
}